<h1>Listando Questões</h1>

<div class="container">
<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Assuntos</th>
            <th>
                <%= link_to new_admins_backoffice_question_path, class:"btn btn-success btn-circle" do %>
                    <i class="fa fa-plus"></i>
                <% end %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% @questions.each do |question| %>
        <tr>
            <td><%= question.id %></td>
            <td><%= question.description.truncate(50) %></td>
            <td><%= question.subject.description %></td>
            <td>
            <%= link_to edit_admins_backoffice_question_path(question), class:"btn btn-primary btn-circle" do %>
                <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to admins_backoffice_question_path(question), method: :delete, class:"btn btn-danger btn-circle", data: { confirm: "Deseja realmente excluir esta Pergunta????"} do %>
                <i class="fa fa-minus"></i>
            <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="text-center">
<%= paginate @questions %>
</div>
</div>